<div class="container-fluid pages" id="home">
  <div class="col-md-12 no-gutters" id="header"> 
<div style="position: fixed; z-index: -99; width: 100%; height: 100%"  id="video">
      <iframe frameborder="0" height="100%" width="100%" 
        src="https://www.youtube.com/embed/utGVCbTFWBo?autoplay=1&loop=1&controls=0&showinfo=0&autohide=1&mute=1" allow="autoplay allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen" >
      </iframe>

 </div>
    <div class="row no-gutters" >
      
      <%= image_tag image_url('https://bkartistsocial.s3.amazonaws.com/logobw3.png'), id: "logo"  %>
      <%= image_tag image_url('https://bkartistsocial.s3.amazonaws.com/title4.png'), id: "title" %>
      <p class="links" id="link1"><%= link_to "Events", "/event"%></p>
      <p class="links" id="link2"><%= link_to "New Artists", "/newartist"%></p>
      <p class="links" id="link3"><%= link_to "Contact", "/contact"%></p>
    </div>
  </div>
</div>
<!-- <div style="position: fixed; z-index: -99; width: 100%; height: 100%">
      <iframe frameborder="0" height="100%" width="100%" 
        src="https://www.youtube.com/embed/utGVCbTFWBo?autoplay=1&controls=0&showinfo=0&autohide=1">
      </iframe>

 </div> -->

<div class="container-fluid pages" id="home2">
  <div class="row">
    
  </div>
</div>
